*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow-x: hidden;
}

.btn {
  padding: 1rem 2.4rem;
  color: #fff;
  border-radius: 2.8rem;
  border: none;
  font-size: 1.6rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  line-height: 175%;
  cursor: pointer;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.nav {
  padding: 1.6rem;
  padding-bottom: 2.2rem;
}
.nav__wrapper {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 1fr 1fr;
}
.nav__logo {
  color: var(--13183F, #13183f);
  font-family: Plus Jakarta Sans;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.nav__btn {
  position: relative;
  z-index: 5;
  justify-self: right;
  background-color: #13183f;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.nav__btn:hover {
  background-color: #666ca3;
}

.header__wrapper {
  display: grid;
  grid-template-columns: 1fr;
}
.header__left {
  margin: 0 1.6rem;
}
.header__right {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__image-xs {
  position: relative;
  margin-bottom: -5rem;
  left: 50%;
  translate: -50%;
  -ms-flex-item-align: center;
      align-self: center;
  width: calc(40% + 300px);
  background-size: cover;
  background-position: center;
}
.header__image-m, .header__image-xxl {
  display: none;
}
.header__title {
  margin-bottom: 2.6rem;
  font-size: 4rem;
  font-weight: 800;
}
.header__text {
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
  color: #83869a;
  font-weight: 500;
}
.header__btn {
  position: relative;
  margin-bottom: 2rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6f48), to(#f02aa6));
  background-image: linear-gradient(#ff6f48, #f02aa6);
}
.header__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2.8rem;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.header__btn:hover::before {
  opacity: 0.5;
}

.main {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f1ff));
  background-image: linear-gradient(180deg, #fff 0%, #f0f1ff 100%);
}
.main__wrapper {
  padding: 0 1.6rem 8rem;
}
.main .cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}
.main .cards .card {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
          box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
  width: 100%;
  padding: 2.4rem 2.85rem;
}
.main .cards .card--featured {
  padding: 2.4rem 2.85rem;
  border-radius: 1rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6f48), to(#f02aa6));
  background-image: linear-gradient(#ff6f48, #f02aa6);
}
.main .cards .card--featured__text {
  margin-bottom: 0.8rem;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 800;
}
.main .cards .card__title {
  position: relative;
  margin: 3.2rem 0 1.6rem;
  color: #13183f;
  font-size: 2rem;
}
.main .cards .card__title::before {
  content: "";
  position: absolute;
  top: -56px;
  left: 0;
  translate: 0 -50%;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
}
.main .cards .card__title.card__title--first::before {
  background-image: url(../../assets/icon-animation.svg);
}
.main .cards .card__title.card__title--second::before {
  background-image: url(../../assets/icon-design.svg);
}
.main .cards .card__title.card__title--third::before {
  background-image: url(../../assets/icon-photography.svg);
}
.main .cards .card__title.card__title--fourth::before {
  background-image: url(../../assets/icon-crypto.svg);
}
.main .cards .card__title.card__title--fifth::before {
  background-image: url(../../assets/icon-business.svg);
}
.main .cards .card__text {
  padding-bottom: 2.4rem;
  color: #83869a;
  font-size: 1.6rem;
  font-weight: 500;
}
.main .cards .card__link {
  position: relative;
  display: inline-block;
  margin-top: auto;
  margin-bottom: 0.8rem;
  color: #f74780;
  font-size: 1.8rem;
  text-decoration: none;
}
.main .cards .card__link::before {
  content: "";
  position: absolute;
  left: -0.5rem;
  bottom: -0.6rem;
  width: calc(100% + 1rem);
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff6f48), to(#f02aa6));
  background-image: linear-gradient(90deg, #ff6f48, #f02aa6);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}
.main .cards .card__link:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.footer {
  padding: 3.6rem 1.6rem;
  background-color: #13183f;
}
.footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__btn {
  justify-self: right;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4851ff), to(#f02aa6));
  background-image: linear-gradient(#4851ff, #f02aa6);
}
.footer__btn-title {
  position: relative;
  z-index: 2;
}
.footer__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2.8rem;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.footer__btn:hover::before {
  opacity: 0.5;
}

@media (min-width: 576px) {
  .header__image {
    background-image: url("../../assets/image-hero-mobile@2x.png");
  }
}
@media (min-width: 768px) {
  .nav {
    padding: 2.4rem 3.95rem;
  }
  .nav__wrapper {
    margin-bottom: 2.6rem;
  }
  .header {
    padding: 0 3.95rem;
  }
  .header__wrapper {
    grid-template-columns: 1.17fr 1fr;
  }
  .header__left {
    margin: 0;
  }
  .header__right {
    position: relative;
  }
  .header__title {
    margin-top: 7rem;
  }
  .header__image-xs {
    display: none;
  }
  .header__image-m {
    display: block;
    position: absolute;
    right: calc(-20% - 250px);
    top: 50%;
    translate: 0 -70%;
    z-index: 4;
    height: 125%;
    background-position: center;
  }
  .header__btn {
    margin-bottom: 21rem;
  }
  .main {
    padding: 0 3.95rem 8.6rem;
  }
  .main .cards {
    grid-template-columns: 1fr 1fr;
    gap: 5.6rem 1rem;
  }
  .main .cards .card {
    padding: 2.4rem 2.15rem 2.4rem 3.2rem;
  }
  .main .cards .card--featured {
    padding: 5.6rem 2.2rem 2.4rem 3.2rem;
  }
  .main__wrapper {
    padding: 0 0 8rem;
  }
  .footer {
    padding: 3.6rem 4rem;
  }
}
@media (min-width: 1440px) {
  .header__wrapper {
    grid-template-columns: 45.7rem 1fr;
  }
  .header__title {
    font-size: 5.6rem;
  }
  .header__text {
    font-size: 1.8rem;
  }
  .header__btn {
    font-size: 1.8rem;
  }
  .header__image-m {
    display: none;
  }
  .header__image-xxl {
    position: absolute;
    right: 0;
    top: 50%;
    translate: 50% -70%;
    z-index: 4;
    height: 125%;
    display: block;
    background-position: center;
  }
  .main {
    padding: 0 3.95rem 8.6rem;
  }
  .main .cards {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8rem 3rem;
  }
  .main .cards .card {
    padding: 3.2rem;
  }
  .main .cards .card--featured {
    padding: 5.4rem 3.2rem 0;
  }
  .main .cards .card--featured__text {
    font-size: 3.2rem;
  }
  .main .cards .card__title {
    font-size: 2.4rem;
  }
  .main .cards .card__title::before {
    top: -64px;
  }
  .main .cards .card__text {
    font-size: 1.8rem;
  }
  .footer {
    padding: 3.6rem 4rem;
  }
}/*# sourceMappingURL=style.css.map */