@media (min-width: 1440px) {
	.btn {
		padding: 1.4rem 3.15rem;
	}

	.header {
		&__wrapper {
			grid-template-columns: 45.7rem 1fr;
		}
		&__title {
			font-size: 5.6rem;
		}
		&__text {
			font-size: 1.8rem;
		}
		&__btn {
			font-size: 1.8rem;
		}
		&__image-m {
			display: none;
		}
		&__image-xxl {
			position: absolute;
			right: 0;
			top: 50%;
			translate: 50% -70%;
			z-index: 4;
			height: 125%;
			display: block;
			background-position: center;
		}
	}
	.main {
		padding: 0 3.95rem 8.6rem;
		.cards {
			grid-template-columns: 1fr 1fr 1fr;
			gap: 8rem 3rem;
			.card {
				padding: 3.2rem;
				&--featured {
					padding: 5.4rem 3.2rem 0;
					&__text {
						font-size: 3.2rem;
					}
				}
				&__title {
					font-size: 2.4rem;
					&::before {
						top: -64px;
					}
				}
				&__text {
					font-size: 1.8rem;
				}
			}
		}
	}
	.footer {
		padding: 3.6rem 4rem;
	}
}
