@use "./colors" as c;
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}
body {
	font-family: "Plus Jakarta Sans", sans-serif;
}
.btn {
	padding: 1rem 2.4rem;
	color: c.$white;
	border-radius: 2.8rem;
	border: none;
	font-size: 1.6rem;
	font-family: "Plus Jakarta Sans", sans-serif;
	font-weight: 700;
	line-height: 175%;
	cursor: pointer;
}
.wrapper {
	max-width: 1100px;
	margin: 0 auto;
}
.nav {
	&__wrapper {
		display: grid;
		align-items: center;
		grid-template-columns: 1fr 1fr;
		padding: 1.6rem;
		margin-bottom: 2.2rem;
	}
	&__logo {
		color: var(--13183F, #13183f);
		font-family: Plus Jakarta Sans;
		font-size: 2.8rem;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
	}
	&__btn {
		justify-self: right;
		background-color: c.$dark-blue;
		transition: background-color 0.3s;
		// line-height: 2.8rem; jaki line-height? w figmie pisze "2.8rem /* 175%*/"
		&:hover {
			background-color: c.$light-blue;
		}
	}
}
header {
	display: none;
}
.main {
	background-image: linear-gradient(180deg, #fff 0%, #f0f1ff 100%);
	&__wrapper {
		padding: 0 1.6rem 8rem;
	}
	.cards {
		display: grid;
		grid-template-columns: 1fr;
		gap: 4rem;

		.card {
			background-color: c.$white;
			border-radius: 10px;
			box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
			width: 100%;
			padding: 2.4rem 2.85rem;
			&--featured {
				padding: 2.4rem 2.85rem;
				border-radius: 1rem;
				background-image: c.$gradient1;
				&__text {
					margin-bottom: 0.8rem;
					color: c.$white;
					font-size: 2.4rem;
					font-weight: 800;
				}
			}
			&__title {
				position: relative;
				margin: 3.2rem 0 1.6rem;
				color: c.$dark-blue;
				font-size: 2rem;
				&::before {
					content: "";
					position: absolute;
					top: -56px;
					left: 0;
					translate: 0 -50%;
					width: 5.6rem;
					height: 5.6rem;
					border-radius: 50%;
				}
				&.card__title--first {
					&::before {
						background-image: url(../../assets/icon-animation.svg);
					}
				}
				&.card__title--second {
					&::before {
						background-image: url(../../assets/icon-design.svg);
					}
				}
				&.card__title--third {
					&::before {
						background-image: url(../../assets/icon-photography.svg);
					}
				}
				&.card__title--fourth {
					&::before {
						background-image: url(../../assets/icon-crypto.svg);
					}
				}
				&.card__title--fifth {
					&::before {
						background-image: url(../../assets/icon-business.svg);
					}
				}
			}
			&__text {
				padding-bottom: 2.4rem;
				color: c.$gray;
				font-size: 1.6rem;
				font-weight: 500;
			}
			&__link {
				position: relative;
				display: inline-block;
				margin-top: auto;
				margin-bottom: 0.8rem;
				color: c.$pink;
				font-size: 1.8rem;
				text-decoration: none;
				&::before {
					content: "";
					position: absolute;
					left: -0.5rem;
					bottom: -0.6rem;
					width: calc(100% + 1rem);
					height: 2px;
					background-image: c.$gradient3;
					transition: transform 0.3s;
					transform: scaleX(0);
					transform-origin: right;
				}
				&:hover {
					&::before {
						transform: scaleX(1);
						transform-origin: left;
					}
				}
			}
		}
	}
}
.footer {
	padding: 3.6rem 1.6rem;
	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
	}
	background-color: c.$dark-blue;
	&__btn {
		justify-self: right;
		position: relative;
		background-image: c.$gradient2;
		&-title {
			position: relative;
			z-index: 2;
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 2.8rem;
			background-color: #fff;
			// opacity: 0;
			opacity: 0;
			transition: opacity 0.3s;
		}
		&:hover {
			&::before {
				opacity: .5;
			}
		}
	}
}
